/* Acá van tus estilos */
*{
	margin: 0;
	padding: 0;
}
#bs-example-navbar-collapse-1{
	background-color: #333333;
}
.navbar-header{
	background-color: #333333;
}
.navbar-nav{
	margin-top: 5px;
}
img{
	margin-left: 20px;
	margin-top: 5px;
}
.navbar-form{
	margin-top: 10px;
	margin-right: 20px;
}
.navbar-default .navbar-nav>li>a:hover{
	color:whitesmoke;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
