/* Acá van tus estilos */

.sidebar-section {
	background: rgb(244, 244, 244);
}

a, a:hover {
	text-decoration: none;
	color: grey;
}

.work {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	padding: 1%;
	margin: 1%;
	background: white;
	cursor: pointer;
}

.cont-img, .work, .cont-icons {
	display: inline-block;
}

.cont-img {
	position: relative;
}

.cont-icons {
	width: 100%;
	padding-top: 7%;
	text-align: right;
}

.text {
	display: none;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	transition: .5s ease;
	background-color: transparent;
	/*z-index:5;*/
}

.cont-img:hover .overlay {
	background-color: rgba(250,250,250,.9);
}

.cont-img:hover .overlay .text {
	height: 95%;
	width: 95%;
	display: block;
	color: black;
	font-size: 10px;
	position: absolute;
	top: 5%;
	left: 5%;
	/*transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);*/
}

