/* Acá van tus estilos */

.sidebar-section {
	background: grey;
}

.work {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	padding: 1%;
	margin: 1%;
	background: white;
	cursor: pointer;
}

.cont-img, .work, .cont-icons {
	display: inline-block;
}
